<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<link rel="icon" type="image/x-icon" href="/dist/img/favicon_32x32.ico" />
<link rel="shortcut icon"  type="image/x-icon" href="/dist/img/favicon_32x32.ico"/>

<title>初学者</title>

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/plugins/bootstrap/css/ionicons.min.css"/>
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css"/>
<link rel="stylesheet" href="/dist/css/style.css"/>
<link rel="stylesheet" href="/plugins/bootstrap/table/bootstrap-table.min.css"/>


<!--[if lt IE 9]>
  <script src="plugins/jQuery/html5shiv.min.js"></script>
  <script src="plugins/jQuery/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini layout-top-nav">
	<div class="wrapper">
		<header class="main-header" style="width: 100%">
			<nav class="navbar navbar-static-top" style="width: 100%">
				<div class="container">
					<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/#" data-url='/templates/video-add' data-id='video-add' data-name='添加'>添加</a></li>
							<li><a href="/#" title="开发中，敬请期待">我的任务</a></li>
							<li><a href="/#" title="开发中，敬请期待">教程文挡</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="content-wrapper " >
			<div class="tabContainer " id="mainDiv">
			
			
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/plugins/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/dist/js/app.min.js"></script>
	<script type="text/javascript" src="/dist/js/demo.js"></script>
	<script type="text/javascript" src="/plugins/jQuery/ajax.js"></script>
	<script type="text/javascript" src="/plugins/jQuery/bootbox.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/table/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap/table/locale/bootstrap-table-zh-CN.min.js"></script>
	
<!-- 	<script type="text/javascript" src="pages/index.js">	</script> -->
	<script type="text/javascript">
		$("a[data-url]").click(function(evt) {
			loadPage($(this).data("url"), $(this).data("id"), $(this).data("name"));
			$("ul li").removeClass("active");
			$(this).parent().addClass("active");
		});
		$("a[data-url]")[0].click();
		

		function loadPage(url, id, name, paramter, flag_r) {
			$("#mainDiv").load(url, function(response, status, xhr) {
				if (status == "success") {
					if (response) {
						try {
							var result = jQuery.parseJSON(response);
							if (result.code == 100) {
								$("#mainDiv").html("");
								alert(result.data);
							}
						} catch (e) {
							return response;
						}
					}
				}
			});
		}
		/**
		 * Load a url into a page
		 */
		var _old_load = jQuery.fn.load;
		jQuery.fn.load = function(url, params, callback) {
			// update for HANZO, 2016/12/22
			if (typeof url !== "string" && _old_load) {
				return _old_load.apply(this, arguments);
			}
			var selector, type, response, self = this, off = url.indexOf(" ");
			if (off > -1) {
				selector = jQuery.trim(url.slice(off));
				url = url.slice(0, off);
			}
			if (jQuery.isFunction(params)) {
				callback = params;
				params = undefined;
			} else if (params && typeof params === "object") {
				type = "POST";
			}
			if (self.length > 0) {
				jQuery.ajax({
					url : url,
					beforeSend : function(xhr) {
						xhr.setRequestHeader('X-Requested-With', {toString : function() {return '';	}});
					},
					type : type || "GET",
					dataType : "html",
					data : params
				}).done(function(responseText) {
					response = arguments;
					var reponseHtml = jQuery.parseHTML();
					// console.log($(responseText).find(selector).toArray());
					self.html(selector ? jQuery("<div>").append(jQuery.parseHTML(responseText)).find(selector): responseText);
				}).always(callback&& function(jqXHR, status) {
					self.each(function() {
						callback.apply(this,response|| [ jqXHR.responseText,status, jqXHR ]);
					});
				});
			}
			return this;
		};
	</script>
</body>
</html>
